explorer.ipynb
test.ipynb
utils.ipynb

.venv/

WF/
poblation/

escenario-prueba/cliente/capture_script_keys.py
escenario-prueba/cliente/sites_keys.txt
escenario-prueba/cliente/sites_prev.txt

escenario-prueba/pcaps/

escenario-prueba/servidor/html
escenario-prueba/servidor/nginx/certs/
escenario-prueba/servidor/gen.py

tfm/data/